terratowns_endpoint="https://terratowns.cloud/api"
forza = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/forza"
  content_version = 2 
}
marlicomworld = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/marlicomworld"
  content_version = 1 
}